[submodule "enet"]
	path = enet
	url = https://github.com/cgutman/enet.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	branch = mbedtls-2.28
[submodule "external/enet"]
	path = external/enet
	url = git@github.com:Dan-Araya/enet.git
